<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    {%- if page.image -%}
      {{ page.image }}
      <div style="background-image: url({{ page.image }} ); width: 100%; height: 500px;"></div>
    {%- endif -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    {%- include footer.html -%}

    

  </body>


</html>
